.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.item {
  position: relative;
}

.item img {
  width: 100%;
  height: auto;
}

.item .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.item:hover .details {
  opacity: 1;
}

img:hover {
  text-decoration: dashed; 
}

