  /* Estilos del menú */
  body {
    font-family: 'Segoe UI', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f7f7f7;
    }
    
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #202020;
    color: #fff;
    padding: 20px 40px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    }
  
  .left {
    flex: 1;
    background-color: transparent;
  }
      
  .right {
    flex: 1;
    text-align: right;
  }
      
  .logo {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    background-color: #202020;
    text-decoration: none;
    color: #fff;
  }
  
  .navbar {
    display: inline-block;
    background-color: #202020;
  }
  
  .navbar a {
    display: inline-block;
    margin-right: 60px;
    color: #fff;
    text-decoration: none;
    background-color: #202020;
  
    font-size: 1.0rem;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
  .navbar a:last-child {
    margin-right: 0;
  }
    
  .navbar a:hover {
    text-decoration: dashed;
    color: #c7c7c7;
  }




/* TODO LO DEMÁS */ 
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #121219;
  }
  
  .banner {
    height: 300px;
    background-image: url('img/banner.jpg');
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
  }
  
  .banner h1 {
    font-size: 3em;
    margin-bottom: 0;
  }
  
  .banner p {
    font-size: 1.5em;
  }
  
  .about-us {
    padding: 50px;
    background-color: #fff;
  }
  
  .about-us h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .videos {
    padding: 50px;
    background-color: #f1f1f1;
  }
  
  .videos h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .videos iframe {
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
  }
  
  .gallery {
    padding: 50px;
    background-color: #fff;
  }
  
  .gallery h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .gallery img {
    width: 250px;
    height: 250px;
    margin: 10px;
    filter: grayscale(100%);
    transition: all 0.3s ease-in-out;
  }
  
  .gallery img:hover {
    filter: grayscale(0);
  }
  
  .summary {
    padding: 50px;
    background-color: #f1f1f1;
  }
  
  .summary h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .summary p {
    font-size: 1.2em;
    margin-top: 0;
  }
  
  .links {
    padding: 50px;
    background-color: #fff;
  }
  
  .links h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .links ul li {
    margin: 10px 0;
  }
  
  .links ul li a {
    text-decoration: none;
    font-size: 1.2em;
  }
  
  .credits {
    padding: 50px;
    background-color: #f1f1f1;
  }
  
  .credits h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .credits ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .credits ul li {
    margin: 10px 0;
  }
  
  .credits ul li a {
    text-decoration: none;
    font-size: 1.2em;
  }
  
  .credits ul li a:last-child::after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-image: url('img/external-link.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 5px;
  }
  
  footer {
    background-color: #121219;
    text-align: center;
    padding: 20px 0;
    color: #fff;
  }